In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DC_Properties.csv')
df.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [3]:
df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [4]:
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [5]:
#Shows the statistics of all the prices of all the properties when they were sold last 
#(not all properties have a price because they have not been sold yet) 
df['PRICE'].describe()

count    9.821600e+04
mean     9.313516e+05
std      7.061325e+06
min      1.000000e+00
25%      2.400000e+05
50%      3.999990e+05
75%      6.520000e+05
max      1.374275e+08
Name: PRICE, dtype: float64

In [6]:
df['PRICE'].head()

0    1095000.0
1          NaN
2    2100000.0
3    1602000.0
4          NaN
Name: PRICE, dtype: float64

In [7]:
#This sorts the data by zipcode
df.sort_values('ZIPCODE').head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
58884,58884,1,0,Warm Cool,Y,1.0,6,3,1909.0,NaN,...,-77.010091,Ledroit Park,031 B Ledroit Park,3301.0,003301 2000,Ward 5,3112,-77.01098,38.916722,NW
155765,155765,2,0,Forced Air,Y,NaN,4,2,2006.0,2006.0,...,-77.024298,Old City 2,040 C Old City 2,4902.0,NaN,Ward 2,369,-77.02430,38.904768,NW
155764,155764,2,0,Forced Air,Y,NaN,4,2,2006.0,2006.0,...,-77.024298,Old City 2,040 C Old City 2,4902.0,NaN,Ward 2,369,-77.02430,38.904768,NW
155763,155763,1,0,Forced Air,Y,NaN,3,1,2006.0,2006.0,...,-77.024298,Old City 2,040 C Old City 2,4902.0,NaN,Ward 2,369,-77.02430,38.904768,NW
155762,155762,1,0,Forced Air,Y,NaN,3,1,2006.0,2006.0,...,-77.024298,Old City 2,040 C Old City 2,4902.0,NaN,Ward 2,369,-77.02430,38.904768,NW

In [8]:
#This isolates and shows all the properties that have stories
hasStories = df['STORIES'].notnull()
df[hasStories].head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [10]:
#This creates a new column indicating "Yes" if a property is mulitstory (>=2 stories) and "No" if it isn't
df["MULTISTORY"] = 'No'
df.loc[df['STORIES'] >= 2, "MULTISTORY"] = 'Yes'
df[hasStories].head(20)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT,MULTISTORY
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes
5,5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,...,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes
6,6,1,0,Warm Cool,Y,2.0,5,2,1917.0,1988.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
7,7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
8,8,3,1,Warm Cool,Y,2.0,7,3,1908.0,2008.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
9,9,1,1,Hot Water Rad,Y,1.0,6,2,1908.0,1979.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
10,10,3,0,Forced Air,N,3.0,12,5,1890.0,1950.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
11,11,5,0,Hot Water Rad,Y,3.0,16,6,1905.0,NaN,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
12,12,2,0,Hot Water Rad,N,2.0,9,5,1894.0,1979.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
13,13,2,0,Warm Cool,Y,2.0,11,5,1885.0,1979.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
14,14,3,1,Warm Cool,Y,2.0,5,3,1917.0,2000.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
15,15,2,1,Warm Cool,Y,2.0,9,4,1908.0,1990.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
16,16,3,1,Warm Cool,Y,1.0,8,3,1908.0,2006.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
17,17,2,0,Hot Water Rad,N,1.0,6,3,1908.0,1987.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
18,18,3,1,Hot Water Rad,Y,2.0,10,4,1908.0,2006.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes
19,19,3,1,Hot Water Rad,Y,2.0,9,3,1908.0,2013.0,...,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes

In [15]:
#Creats a new variable of just the properties that are not multistory (surprisingly the average is above 1)
noStories = df.loc[df['MULTISTORY'] == 'No']
noStories.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,60957.000000,60957.000000,60957.000000,8696.000000,60957.000000,60957.000000,60895.000000,34882.000000,60957.000000,8652.000000,...,60957.000000,60957.000000,52261.000000,52261.000000,60957.000000,60957.000000,60957.000000,60957.000000,60885.000000,60885.000000
mean,123680.324770,1.430763,0.196680,1.017364,4.182358,1.673032,1956.128188,1994.729316,1959.403580,1.242532,...,15.918205,1351.175484,2371.544249,888.834542,20014.313893,38.912626,-77.025784,5118.523681,-77.025820,38.912610
std,28168.236752,0.631503,0.418716,0.178286,1.612946,1.006885,35.870015,14.467207,33.840625,0.303899,...,2.087134,2753.636580,1114.272364,420.185822,23.143348,0.027194,0.037365,3192.980289,0.037352,0.027138
min,583.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1780.000000,1880.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.821792,-77.113909,100.000000,-77.113135,38.821799
25%,113239.000000,1.000000,0.000000,1.000000,3.000000,1.000000,1927.000000,1980.000000,1930.000000,1.000000,...,16.000000,221.000000,1501.000000,616.000000,20007.000000,38.900436,-77.048191,2502.000000,-77.048193,38.900447
50%,128478.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1956.000000,2002.000000,1960.000000,1.000000,...,16.000000,469.000000,2265.000000,783.000000,20009.000000,38.913210,-77.030788,5001.000000,-77.030790,38.913217
75%,143717.000000,2.000000,0.000000,1.000000,5.000000,2.000000,1985.000000,2006.000000,1985.000000,1.500000,...,17.000000,1050.000000,2910.000000,1060.000000,20019.000000,38.928387,-77.006983,7703.000000,-77.007244,38.928372
max,158956.000000,10.000000,4.000000,4.000000,23.000000,11.000000,2018.000000,2018.000000,2018.000000,1.750000,...,117.000000,187301.000000,5621.000000,8553.000000,20392.000000,38.995435,-76.910046,11100.000000,-76.910511,38.993646

In [45]:
#The percent of the properties that are not multistory
percentNoStory = (len(noStories)/len(df))*100
percentNoStory

38.34810672068547

In [16]:
#Creates a new column with the total number of bathrooms
df["Total Bathroom"] = df["BATHRM"] + df["HF_BATHRM"]
df.head(20)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT,MULTISTORY,Total Bathroom
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,4
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,4
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,4
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,4
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,3
5,5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,...,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,5
6,6,1,0,Warm Cool,Y,2.0,5,2,1917.0,1988.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,1
7,7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4
8,8,3,1,Warm Cool,Y,2.0,7,3,1908.0,2008.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4
9,9,1,1,Hot Water Rad,Y,1.0,6,2,1908.0,1979.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,2
10,10,3,0,Forced Air,N,3.0,12,5,1890.0,1950.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,3
11,11,5,0,Hot Water Rad,Y,3.0,16,6,1905.0,NaN,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,5
12,12,2,0,Hot Water Rad,N,2.0,9,5,1894.0,1979.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,2
13,13,2,0,Warm Cool,Y,2.0,11,5,1885.0,1979.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,2
14,14,3,1,Warm Cool,Y,2.0,5,3,1917.0,2000.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4
15,15,2,1,Warm Cool,Y,2.0,9,4,1908.0,1990.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,3
16,16,3,1,Warm Cool,Y,1.0,8,3,1908.0,2006.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4
17,17,2,0,Hot Water Rad,N,1.0,6,3,1908.0,1987.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,2
18,18,3,1,Hot Water Rad,Y,2.0,10,4,1908.0,2006.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4
19,19,3,1,Hot Water Rad,Y,2.0,9,3,1908.0,2013.0,...,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4

In [18]:
df['PRICE'].describe()

count    9.821600e+04
mean     9.313516e+05
std      7.061325e+06
min      1.000000e+00
25%      2.400000e+05
50%      3.999990e+05
75%      6.520000e+05
max      1.374275e+08
Name: PRICE, dtype: float64

In [20]:
#How many total bathrooms are there on average for the properties in the uppermost quartile (75%-max) of PRICE
expensiveProp = df.loc[(df['PRICE'] >= 6.520000e+05) & (df['PRICE'] <= 1.374275e+08)]
expensiveProp.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,Total Bathroom
count,24314.000000,24314.000000,24314.000000,18663.000000,24314.000000,24314.000000,24291.000000,16594.000000,24314.000000,18642.000000,...,24314.000000,5651.000000,5651.000000,24314.000000,24314.000000,24314.000000,24314.000000,24292.000000,24292.000000,24314.000000
mean,54217.509830,2.637040,0.736242,1.218400,7.395739,3.466933,1938.518711,2005.156563,1974.507156,2.336922,...,3181.754339,3001.748009,1383.709786,20009.992186,38.922290,-77.040036,3729.118944,-77.040047,38.922264,3.373283
std,47292.227499,1.061431,0.604468,0.547292,2.622213,1.341219,39.270918,11.451256,24.153272,6.929428,...,4100.337579,1437.760733,586.698178,9.064293,0.025355,0.034218,3033.929747,0.034217,0.025315,1.334643
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,1926.000000,1870.000000,0.000000,...,0.000000,1001.000000,349.000000,20001.000000,38.828575,-77.113909,100.000000,-77.113135,38.827709,0.000000
25%,21049.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1910.000000,2003.000000,1967.000000,2.000000,...,994.000000,1794.000000,1034.500000,20003.000000,38.905712,-77.067340,1001.000000,-77.067376,38.905531,2.000000
50%,35830.500000,2.000000,1.000000,1.000000,7.000000,3.000000,1927.000000,2007.000000,1972.000000,2.000000,...,1800.000000,2763.000000,1300.000000,20009.000000,38.919010,-77.039464,3000.000000,-77.039695,38.919391,3.000000
75%,75668.000000,3.000000,1.000000,1.000000,9.000000,4.000000,1963.000000,2013.000000,1987.000000,2.500000,...,4346.500000,4183.500000,1602.000000,20015.000000,38.938244,-77.016124,5800.000000,-77.016309,38.938140,4.000000
max,158944.000000,12.000000,11.000000,6.000000,31.000000,20.000000,2018.000000,2018.000000,2018.000000,826.000000,...,155905.000000,5619.000000,8553.000000,20392.000000,38.995435,-76.913022,11100.000000,-76.913034,38.993646,15.000000

In [21]:
#How many total bathrooms are there on average for the properties in the lowermost quartile (min-25%) of PRICE
cheaperProp = df.loc[(df['PRICE'] <= 2.400000e+05)]
cheaperProp.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,Total Bathroom
count,24793.000000,24793.000000,24793.000000,14517.000000,24793.000000,24793.000000,24754.000000,12333.000000,24793.000000,14514.000000,...,24793.000000,10276.000000,10276.000000,24793.000000,24793.000000,24793.000000,24793.000000,24771.000000,24771.000000,24793.000000
mean,95683.606583,1.414310,0.283104,1.230075,5.397612,2.267051,1943.928618,1995.093408,1958.108942,1.987960,...,1852.976606,2079.543791,700.222363,20015.594361,38.902427,-76.997728,6653.099988,-76.997754,38.902428,1.697415
std,36909.806578,0.724023,0.499350,0.682798,2.514530,1.314078,27.612958,14.668602,22.025976,0.377113,...,2139.282049,816.903097,284.247975,15.722833,0.034938,0.040932,3115.781520,0.040928,0.034925,0.911589
min,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1776.000000,1920.000000,1800.000000,0.000000,...,0.000000,1001.000000,199.000000,20001.000000,38.819731,-77.112215,100.000000,-77.113135,38.820576,0.000000
25%,74974.000000,1.000000,0.000000,1.000000,4.000000,1.000000,1925.000000,1981.000000,1949.000000,2.000000,...,570.000000,1319.000000,506.000000,20009.000000,38.880122,-77.026579,3900.000000,-77.026581,38.880130,1.000000
50%,99467.000000,1.000000,0.000000,1.000000,5.000000,2.000000,1942.000000,2003.000000,1957.000000,2.000000,...,1477.000000,2020.000000,639.000000,20017.000000,38.903141,-76.997148,7604.000000,-76.997151,38.903148,1.000000
75%,124092.000000,2.000000,1.000000,1.000000,6.000000,3.000000,1960.000000,2007.000000,1966.000000,2.000000,...,2500.000000,2506.000000,808.000000,20020.000000,38.927273,-76.970822,9501.000000,-76.970971,38.927089,2.000000
max,158955.000000,6.000000,5.000000,6.000000,30.000000,12.000000,2018.000000,2018.000000,2018.000000,9.000000,...,187301.000000,5576.000000,3008.000000,20392.000000,38.990908,-76.909758,11100.000000,-76.910511,38.989726,8.000000

In [22]:
#What is the price of the most expensive property that does not have a single bathroom?
noBath = df.loc[df['Total Bathroom'] == 0]
noBath.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,Total Bathroom
count,48.000000,48.0,48.0,37.000000,48.000000,48.000000,43.000000,13.000000,48.000000,37.000000,...,48.000000,11.000000,11.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.0
mean,66558.687500,0.0,0.0,0.648649,0.916667,0.250000,1936.837209,1999.384615,1949.895833,1.195946,...,8534.333333,2071.636364,794.090909,20009.875000,38.909442,-77.026158,4541.250000,-77.026285,38.909425,0.0
std,49059.556054,0.0,0.0,0.753371,2.122156,0.837931,31.111880,14.227546,23.295730,1.135193,...,15384.158484,679.475132,630.199088,8.579106,0.024622,0.045576,3703.542252,0.045588,0.024801,0.0
min,2859.000000,0.0,0.0,0.000000,0.000000,0.000000,1890.000000,1980.000000,1900.000000,0.000000,...,27.000000,1077.000000,0.000000,20001.000000,38.828575,-77.099252,100.000000,-77.099254,38.827709,0.0
25%,23066.500000,0.0,0.0,0.000000,0.000000,0.000000,1909.500000,1983.000000,1943.000000,0.000000,...,967.000000,1574.500000,263.000000,20002.000000,38.903899,-77.061658,902.000000,-77.061740,38.904130,0.0
50%,57183.500000,0.0,0.0,1.000000,0.000000,0.000000,1926.000000,2003.000000,1947.000000,1.000000,...,2500.000000,2272.000000,849.000000,20007.500000,38.912691,-77.018057,3550.000000,-77.018017,38.913002,0.0
75%,103069.750000,0.0,0.0,1.000000,1.000000,0.000000,1955.500000,2012.000000,1957.000000,2.000000,...,7851.000000,2448.000000,1228.000000,20016.000000,38.925301,-76.996990,7732.000000,-76.997383,38.925308,0.0
max,155007.000000,0.0,0.0,3.000000,9.000000,4.000000,2004.000000,2015.000000,2004.000000,3.000000,...,89720.000000,3012.000000,1855.000000,20036.000000,38.950161,-76.927559,11100.000000,-76.926667,38.950168,0.0

In [26]:
#Finds all the properties without bathrooms that have a price
hasPrice = noBath['PRICE'].notnull()
noBath[hasPrice].describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,Total Bathroom
count,21.000000,21.0,21.0,16.000000,21.000000,21.000000,19.000000,8.000000,21.000000,16.000000,...,21.000000,5.000000,5.00000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.0
mean,64479.190476,0.0,0.0,1.062500,1.428571,0.380952,1926.473684,1999.000000,1944.238095,1.796875,...,3431.666667,1973.400000,1107.60000,20008.333333,38.909159,-77.017604,5406.476190,-77.017863,38.909127,0.0
std,52764.549580,0.0,0.0,0.771902,2.618615,1.071270,27.213903,14.402381,19.674615,0.909298,...,4887.978594,807.350482,544.73645,8.765463,0.024923,0.037249,3527.496061,0.037164,0.025135,0.0
min,2859.000000,0.0,0.0,0.000000,0.000000,0.000000,1892.000000,1981.000000,1900.000000,0.000000,...,94.000000,1077.000000,378.00000,20001.000000,38.828575,-77.092325,100.000000,-77.092328,38.827709,0.0
25%,15983.000000,0.0,0.0,1.000000,0.000000,0.000000,1909.000000,1983.000000,1943.000000,1.562500,...,934.000000,1234.000000,849.00000,20002.000000,38.904266,-77.039816,3301.000000,-77.040429,38.904458,0.0
50%,54939.000000,0.0,0.0,1.000000,0.000000,0.000000,1920.000000,2004.500000,1943.000000,2.000000,...,1790.000000,2272.000000,1219.00000,20007.000000,38.908945,-77.012551,4801.000000,-77.013397,38.909021,0.0
75%,104206.000000,0.0,0.0,1.000000,1.000000,0.000000,1938.500000,2010.500000,1950.000000,2.000000,...,3011.000000,2272.000000,1237.00000,20010.000000,38.926525,-76.996221,8410.000000,-76.997428,38.926644,0.0
max,155007.000000,0.0,0.0,3.000000,9.000000,4.000000,2004.000000,2014.000000,2004.000000,3.000000,...,21017.000000,3012.000000,1855.00000,20032.000000,38.950161,-76.934224,11100.000000,-76.934593,38.950168,0.0

In [32]:
pricesDF = noBath[hasPrice]
pricesDF['PRICE'].describe()

count    2.100000e+01
mean     2.519266e+06
std      5.738590e+06
min      6.000000e+03
25%      2.860000e+05
50%      4.575000e+05
75%      9.010000e+05
max      2.500000e+07
Name: PRICE, dtype: float64

In [35]:
#Creating bins for the prices of all the data based on the 1st quartile, 2nd quartile, 3rd quartile, 4th quartile, and max 
bins = [0, 2.400000e+05, 3.999990e+05, 6.520000e+05, 1.374275e+08]


group_names = ['Cheaper', 'A Little More Expensive', 'More Expensive', 'Most Expensive']


df['PRICE GRADE'] = pd.cut(df['PRICE'], bins, labels=group_names)
df

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT,MULTISTORY,Total Bathroom,PRICE GRADE
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,4,Most Expensive
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,4,NaN
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,4,Most Expensive
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,4,Most Expensive
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,3,NaN
5,5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,...,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW,Yes,5,Most Expensive
6,6,1,0,Warm Cool,Y,2.0,5,2,1917.0,1988.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,1,NaN
7,7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4,Most Expensive
8,8,3,1,Warm Cool,Y,2.0,7,3,1908.0,2008.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4,Most Expensive
9,9,1,1,Hot Water Rad,Y,1.0,6,2,1908.0,1979.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,2,NaN
10,10,3,0,Forced Air,N,3.0,12,5,1890.0,1950.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,3,NaN
11,11,5,0,Hot Water Rad,Y,3.0,16,6,1905.0,NaN,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,5,NaN
12,12,2,0,Hot Water Rad,N,2.0,9,5,1894.0,1979.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,2,NaN
13,13,2,0,Warm Cool,Y,2.0,11,5,1885.0,1979.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,2,NaN
14,14,3,1,Warm Cool,Y,2.0,5,3,1917.0,2000.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4,Most Expensive
15,15,2,1,Warm Cool,Y,2.0,9,4,1908.0,1990.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,3,NaN
16,16,3,1,Warm Cool,Y,1.0,8,3,1908.0,2006.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4,Most Expensive
17,17,2,0,Hot Water Rad,N,1.0,6,3,1908.0,1987.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,2,NaN
18,18,3,1,Hot Water Rad,Y,2.0,10,4,1908.0,2006.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4,NaN
19,19,3,1,Hot Water Rad,Y,2.0,9,3,1908.0,2013.0,...,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW,Yes,4,More Expensive
20,20,3,1,Hot Water Rad,Y,1.0,14,5,1880.0,2009.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,4,Cheaper
21,21,3,0,Forced Air,Y,2.0,12,3,1880.0,2009.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,3,NaN
22,22,1,0,Forced Air,Y,1.0,6,3,1880.0,2010.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,1,Most Expensive
23,23,2,1,Forced Air,Y,1.0,5,3,1880.0,2010.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,3,Most Expensive
24,24,2,1,Hot Water Rad,Y,1.0,8,3,1880.0,2004.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,3,Most Expensive
25,25,1,0,Hot Water Rad,N,1.0,8,4,1880.0,2010.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,1,Cheaper
26,26,1,0,Hot Water Rad,N,1.0,10,5,1900.0,2004.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,1,NaN
27,27,3,0,Hot Water Rad,Y,4.0,9,3,1900.0,1963.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,3,Most Expensive
28,28,3,0,Warm Cool,Y,2.0,10,4,1900.0,1960.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,3,NaN
29,29,3,1,Forced Air,Y,2.0,11,3,1900.0,2014.0,...,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW,Yes,4,Most Expensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158927,158927,2,0,Ht Pump,Y,NaN,6,3,1993.0,1993.0,...,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW,No,2,NaN
158928,158928,2,1,Ht Pump,Y,NaN,5,2,2013.0,NaN,...,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW,No,3,More Expensive
158929,158929,2,1,Ht Pump,Y,NaN,5,2,2013.0,NaN,...,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW,No,3,More Expensive
158930,158930,2,0,Forced Air,N,NaN,4,2,1900.0,2003.0,...,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW,No,2,A Little More Expensive
158931,158931,2,1,Forced Air,N,NaN,4,2,1900.0,2003.0,...,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW,No,3,More Expensive
158932,158932,2,1,Forced Air,N,NaN,4,2,1900.0,2003.0,...,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW,No,3,More Expensive
158933,158933,2,0,Ht Pump,Y,NaN,4,2,1880.0,2016.0,...,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW,No,2,More Expensive
158934,158934,1,1,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW,No,2,More Expensive
158935,158935,1,0,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW,No,1,More Expensive
158936,158936,1,0,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW,No,1,More Expensive
158937,158937,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,1,NaN
158938,158938,2,0,Warm Cool,Y,NaN,7,4,1992.0,1992.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,2,Most Expensive
158939,158939,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,1,A Little More Expensive
158940,158940,2,0,Forced Air,Y,NaN,7,4,1992.0,1992.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,2,NaN
158941,158941,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,1,NaN
158942,158942,2,0,Forced Air,Y,NaN,7,4,1992.0,1992.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,2,NaN
158943,158943,2,1,Forced Air,Y,NaN,5,2,2004.0,2004.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,3,More Expensive
158944,158944,2,1,Forced Air,Y,NaN,5,2,2004.0,2004.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,3,Most Expensive
158945,158945,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,1,More Expensive
158946,158946,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,1,More Expensive
158947,158947,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,2,A Little More Expensive
158948,158948,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,2,More Expensive
158949,158949,1,1,Forced Air,Y,NaN,4,1,1938.0,2006.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,2,More Expensive
158950,158950,3,0,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,3,More Expensive
158951,158951,3,1,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,4,A Little More Expensive
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,1,A Little More Expensive
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,1,More Expensive
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW,No,2,More Expensive
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW,No,1,Cheaper
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW,No,1,NaN